registry=https://registry.npmjs.org/
https-proxy=http://127.0.0.1:4780
proxy=http://127.0.0.1:4780
# ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
# ELECTRON_CUSTOM_DIR=9.0.0
ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"